<a href="/admin_home"><button class="btn btn-info" type="button" name="button">Administrator</button></a>

<a href="/specialty"><button class="btn btn-info" type="button" name="button">Patient</button></a>
